

<router-outlet></router-outlet>


























<!-- Asi es como funcionan los pipes -->

<!-- <h1> {{title | uppercase}} </h1>

  <h3> {{title | lowercase}} </h3>
  <h3> {{title | titlecase}} </h3>
  <h3> {{title | slice:0:5 | titlecase}}... </h3> -->




<!-- Explicacion de como usar PRIMENG-->


  <!-- <button pButton>
    Hola mundo
  </button>
   <hr>
  <p-button label="Submit">
    Otro boton
  </p-button>

  <hr>

  <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>
  <hr>
  <p-button icon="pi pi-check"></p-button>

  <hr>

  <i class="pi pi-check"></i>

  <span class="pi pi-search"></span> -->
